<body>
    <div class="row">
        <img src="../../../assets/images/section1.jpg" class="col-lg-6 col-md-6 col-12">
        <div class="text col-lg-6 col-md-6 col-12">
            <h1 class="first">Discover</h1>
            <h1 class="second">OUR STORY</h1>
            <p>On her way she met a copy. The copy warned the Little Blind Text, 
                that where it came from it would have been rewritten a thousand 
                times and everything that was left from its origin would be the word 
                "and" and the Little Blind Text should turn around and return to its 
                own, safe country. But nothing the copy said could convince her 
                and so it didn’t take long until a few insidious Copy Writers 
                ambushed her, made her drunk with Longe and Parole and 
                dragged her into their agency, where they abused her for their.
            </p>
        </div>
    </div>
    
</body>
