body{
    
    position: inherit;
    .row{
        .img{
            background-image: url(../../../assets/images/section1.jpg);
            width: 50%;
            // height: 80%;
            background-size: cover;
            position: relative;
            background-position: center;
        }
        .text{
            font-family: "Poppins", Arial, sans-serif;
            font-size: 0.938rem;
            line-height: 1.8;
            font-weight: 300;
            color: gray;
            background-size: cover;
            position: relative;
            background: rgba(0, 0, 0, 0.5);
            padding: 2.5rem;
            width: 42%;
            margin: 6.5rem 8rem 6rem -6rem;
            .first{
                font-size: 3.125rem;
                display: block;
                margin-bottom: 0;
                font-family: "Great Vibes", cursive;
                color: #c49b63;
                line-height: 1;
                margin-bottom: -1.313rem;
                z-index: 1;
            }
            .second{
                // z-index: -1;
                font-size: 40px;
                font-weight: 700;
                position: relative;
                text-transform: uppercase;
                line-height: 1.4;
                color: #fff;
            }
            p{
                color: gray;
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }
    }
    
}

