<!-- <p>book-a-table works!</p> -->

<body>
    <h3>BOOK A TABLE</h3>
    <form class="form">
      <div class="name row">
        <mat-form-field class="firstName col-lg-6 col-md-6">
          <input matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="lastName col-lg-6 col-md-6">
            <input matInput placeholder="Last Name">
        </mat-form-field>
      </div>
        

        <div class="row free-margin">
          <mat-form-field class="Date col-md-4">
            <input matInput placeholder="Date">
          </mat-form-field>
          <mat-form-field class="Time col-md-4">
            <input matInput placeholder="Time">
          </mat-form-field>
          <mat-form-field class="phone col-md-4">
            <input matInput placeholder="phone">
          </mat-form-field>
        </div>

        <div class="row free-margin">
          <mat-form-field class="Message col-md-6">
            <input matInput placeholder="Message">
          </mat-form-field>
          <button class="btn col-md-6">Appointment</button>
        </div>
        
        

        <!-- <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

          <!-- <input type="text" class="form-control appointment_time ui-timepicker-input" placeholder="Time" autocomplete="off"> -->
    </form>
    
      
    <!-- <form class="form">
      <mat-form-field class="firstName">
        <input matInput placeholder="First Name">
      </mat-form-field>
      <mat-form-field class="lastName">
          <input matInput placeholder="Last Name">
        </mat-form-field>
  </form> -->

  
  <!-- <mat-form-field appearance="fill">
    <select matNativeControl [(ngModel)]="selectedTime" name="car">
      <option *ngFor="let Time of times">
        {{time.Value}}
      </option>
    </select>
  </mat-form-field> -->
</body>