<body>
    <!-- <p>information works!</p> -->
    <!-- <div class="container"> -->
        <div class="phone title col-md-4">
            <div class="row">
                <i class="fa fa-phone col-md-2"></i>
                <div class="col-md-10">
                    <h3>000 (123) 456 7890</h3>
                    <p>A small river named Duden flows by their place and supplies.</p>
                </div>
            </div>
        </div>
        <div class="adress title col-md-4">
            <div class="row">
                <i class="fa fa-compass col-md-2"></i>
                <div class="col-md-10">
                    <h3>198 West 21th Street</h3>
                    <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                </div>
            </div>
        </div>
        <div class="time title col-md-4">
            <div class="row">
                <i class="fa fa-history col-md-2"></i>
                <div class="col-md-10">
                    <h3>Open Monday-Friday</h3>
                    <p>8:00am - 9:00pm</p>
                </div>
            </div>
        </div>
    <!-- </div> -->
</body>