body{
    display: inline-block;
    width: 65%;
    background-color: black;
    height: fit-content;
    padding: 2% 5% 2% 12%;
    // width: 65%;
    // .container{
        .title{
            .row{
                i{
                    color: #c49b63;
                    font-size: 20px;
                }
                div{
                    h3{
                        color: white;
                        font-size: 16px;
                    }
                    p{}
                }
            }
        }
    // }
}
