<!-- <p>header works!</p> -->
<div class="container row">
    <div class="title col-lg-7">
        <h6>COFFEE</h6>
        <p>BLEND</p>
    </div>
    <div class="menu col-lg-5">
        <a class="col-lg-1">HOME</a>
        <a class="col-lg-1">MENU</a>
        <a class="col-lg-1">SERVICES</a>
        <a class="col-lg-1">BLOG</a>
        <a class="col-lg-1">ABOUT</a>
        <a class="col-lg-1">SHOP</a>
        <a class="col-lg-1">CONTACT</a>
        <!-- <i class="fa fa-shopping-basket"></i> -->
        <i class="fa fa-at col-lg-1"></i>
    </div>
</div>