.container-fluid{
    
    background: transparent;
    border-bottom: 1px solid white;
    position: fixed;
    padding-top: 17px;
    top: 0;
    width: 100%;
    display: inline-block;
    height: 60px;
    color: white;
    z-index: 100000;

    // max-width: 900px;
    // width: -webkit-fill-available;
    width: 100%;
    position: absolute;
    // position: -webkit-sticky;
    align-items: center;
    top: 0;
    // left: 0;
    z-index: 1020;
    // z-index: 1020;
    // position: fixed;
    color: white;
    .title{
        text-align-last: center;
        // line-height: 0;
        h6{
            font-size: large;
            line-height: 19px;
            /* line-height: 8px; */
            margin-bottom: -4px;
        }
        p{
            letter-spacing: 4px;
            font-size: x-small;
        }
    }
    .menu{
        // text-align-last: inherit;
        text-align-last: center;
        a{
            color: white;
            text-decoration: none;
            margin: 0px 6px;
            font-size: xx-small;
        }
        a:hover{
            color: #f2c40d;
        }
        i:hover{
            color: #f2c40d;
        }
    }
}

.down{
    position: fixed !important;
    z-index: 1020;
    background-color: #151111;
    width: -webkit-fill-available !important;
}