.container{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1020;
    // position: fixed;
    color: rgb(216, 41, 41);
    .title{
        text-align-last: center;
        // line-height: 0;
        h6{
            font-size: 1rem;
            line-height: 19px;
            /* line-height: 8px; */
            margin-bottom: -4px;
        }
        p{
            letter-spacing: 4px;
            font-size: x-small;
        }
    }
    .menu{
        text-align-last: center;
        a{
            color: #0d6efd;
            text-decoration: none;
            margin: 0px 6px;
            font-size: x-small;
        }
    }
}