<!-- <p>header works!</p> -->
<div id="header" class="container-fluid row">
    <div class="title col-md-5 col-lg-5">
        <h6>COFFEE</h6>
        <p>BLEND</p>
    </div>
    <div class="menu col-md-7 col-lg-7">
        <a class="col-md-1 col-lg-1">HOME</a>
        <a class="col-md-1">MENU</a>
        <a class="col-md-1">SERVICES</a>
        <a class="col-md-1">BLOG</a>
        <a class="col-md-1">ABOUT</a>
        <a class="col-md-1">SHOP</a>
        <a class="col-md-1">CONTACT</a>
        <i class="fa fa-shopping-basket col-md-1"></i>
        <!-- <i class="fa fa-at col-md-1"></i> -->
    </div>
    <!-- <mat-divider></mat-divider> -->
</div>