
<div id="header" class="container-fluid row">
    <div class="title col-md-4 col-lg-4">
        <h1>COFFEE</h1>
        <p>BLEND</p>
    </div>
    <div class="topnav col-md-8 col-lg-8" id="myTopnav" style="margin-left: auto;">
        <a class="col-md-1" href="#HOME">HOME</a>
        <a class="col-md-1" href="#MENU">MENU</a>
        <a class="col-md-1" href="#SERVICES">SERVICES</a>
        <a class="col-md-1" href="#BLOG">BLOG</a>
        <a class="col-md-1" href="#ABOUT">ABOUT</a>
        <a class="col-md-1" href="#SHOP">SHOP</a>
        <a class="col-md-1" href="#CONTACT">CONTACT</a>
        <a class="col-md-1" href="#basket">
            <i class="fa fa-shopping-basket"></i>
        </a>
        <a class="col-md-1" href="javascript:void(0);" class="icon" (click)="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
</div>