.container-fluid{
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    position: fixed;
    padding-top: 17px;
    top: 0;
    width: 100%;
    // display: inline-block;
    color: white;
    z-index: 100000;
    width: 100%;
    position: absolute;
    align-items: center;
    top: 0;
    z-index: 1020;
    color: white;
    .title{
        text-align-last: center;
        // line-height: 0;
        h6{
            font-size: large;
            line-height: 19px;
            /* line-height: 8px; */
            margin-bottom: -4px;
        }
        p{
            letter-spacing: 4px;
            font-size: x-small;
        }
    }
    .menu{
        text-align-last: center;
        margin-bottom: auto;
        a{
            color: white;
            text-decoration: none;
            margin: 0px 6px;
            font-size: xx-small;
        }
        a:hover{
            color: #c49b63;
        }
        i:hover{
            color: #c49b63;
        }
    }
}

.down{
    position: fixed !important;
    z-index: 1020;
    background-color: #151111;
    width: -webkit-fill-available !important;
    border-bottom: none;
}