section{
    color: white;
    text-align-last: center;
    margin: 7rem 0;
    .container{
        .discover{
            font-family: GreatVibes;
            color: #c49b63;
            font-size: xxx-large;
            margin: 0;
        }
        .best{
            font-weight: 600;
            font-size: 2.6rem;
        }
        p{
            color: gray;
            font-size: medium;
            white-space: 4rem;
            letter-spacing: 0.01rem;
            word-spacing: 0.13rem;
        }
    }
}