<body>
    <div class="container">
        <div class="col-md-4 col-lg-4 col-12">
            <i class="fa fa-list-alt"></i>
            <h2>EASY TO ORDER</h2>
            <p>
                Even the all-powerful Pointing has 
                no control about the blind texts it 
                is an almost unorthographic.
            </p>
        </div>

        <div class="col-md-4 col-lg-4 col-12">
            <i class="fa fa-truck"></i>
            <h2>FASTEST DELIVERY</h2>
            <p>
                Even the all-powerful Pointing has 
                no control about the blind texts it 
                is an almost unorthographic.
            </p>
        </div>

        <div class="col-md-4 col-lg-4 col-12">
            <i class="fa fa-coffee"></i>
            <h2>QUALITY COFFEE</h2>
            <p>
                Even the all-powerful Pointing has 
                no control about the blind texts it 
                is an almost unorthographic.
            </p>
        </div>
    </div>
</body>