<img src="../assets/images/bakground1.jpg">
<app-header></app-header>
<app-first-page></app-first-page>
<app-information></app-information>
<app-book-a-table></app-book-a-table>
<!-- <app-section1></app-section1> -->
<app-section2></app-section2>
<app-our-menu></app-our-menu>















<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
</div>