<app-header></app-header>
<app-first-page></app-first-page>
<app-information></app-information>
<app-book-a-table></app-book-a-table>
<app-section1></app-section1>

<!-- <mat-grid-list cols="20" rowHeight="1:2">
  <mat-grid-tile [colspan]="13">
    <app-information></app-information>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="7"  [rowspan]="3">
    <app-book-a-table></app-book-a-table>
  </mat-grid-tile>
</mat-grid-list> -->
<!-- <div class="row">
  <app-information class="col-md-8"></app-information>
  <app-book-a-table class="col-md-2"></app-book-a-table>
</div> -->















<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque consequuntur sapiente sed officia quasi praesentium, optio ab mollitia sunt adipisci accusamus ratione veritatis eligendi rem autem pariatur ducimus cumque.</p>
</div>