<section>
    <div class="container row">
            <div class="item col-md-3 col-lg-3">
                <i class="fa fa-coffee"></i>
                <h1>100</h1>
                <p>Coffee Branches</p>
            </div>

            <div class="item col-md-3 col-lg-3">
                <i class="fa fa-coffee"></i>
                <h1>85</h1>
                <p>Number of Awards</p>
            </div>

            
            <div class="item col-md-3 col-lg-3">
                <i class="fa fa-coffee"></i>
                <h1>10,567</h1>
                <p>Happy Customer</p>
            </div>

            <div class="item col-md-3 col-lg-3">
                <i class="fa fa-coffee"></i>
                <h1>900</h1>
                <p>Staff</p>
            </div>
    </div>
</section>


<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus adipisci unde mini
    ma mollitia obcaecati quod? Esse fuga magnam debitis provident sequi. Culpa ad nos
    trum fuga officia consequatur quis sint distinctio!</p>