
<body>
    <div class="container">
        <div class="row">
            <div class="text col-lg-6 col-md-6">
                <h1 class="first">Discover</h1>
                <h1 class="second">OUR MENU</h1>
                <p>
                    Far far away, behind the word mountains, far from the countries 
                    Vokalia and Consonantia, there live the blind texts. Separated they 
                    live in Bookmarksgrove right at the coast of the Semantics, a large 
                    language ocean.
                </p>
                <button>View Full Menu</button>
            </div>
            <div class="images col-md-6 col-lg-6">
                <div class="A img col-lg-6 col-md-6"></div>
                <div class="B img col-lg-6 col-md-6"></div>
                <div class="C img col-lg-6 col-md-6"></div>
                <div class="D img col-lg-6 col-md-6"></div>
                
                <!-- <img src="../../../assets/images/our menu/menu-1.jpg" class="A col-lg-6 col-md-6">
                <img src="../../../assets/images/our menu/menu-2.jpg" class="B col-lg-6 col-md-6">
                <img src="../../../assets/images/our menu/menu-3.jpg" class="C col-lg-6 col-md-6">
                <img src="../../../assets/images/our menu/menu-4.jpg" class="D col-lg-6 col-md-6"> -->
            </div>
        </div>
        
    </div>
</body>