body{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;              
    position: relative;
    background: inherit;
    padding: 7rem 6rem;
    .container{
        .row{
            .text{
                padding-top: 7rem;
                padding-right: 2rem;
                direction: rtl;
                .first{
                    font-size: 3.125rem;
                    display: block;
                    margin-bottom: 0;
                    font-family: GreatVibes;
                    color: #c49b63;
                    line-height: 1;
                    margin-bottom: -1.313rem;
                    z-index: 1;
                }
                .second{
                    line-height: 1.4;
                    font-size: 2.5rem;
                    font-weight: 700;
                    position: relative;
                    text-transform: uppercase;
                    color: #fff;
                }
                p{
                    margin-bottom: 1.5rem !important;
                }
                button{
                    color: #c49b63;
                    border: 1px solid #c49b63;
                    background: transparent;
                    padding: 0.8rem 1.3rem;
                }
                button:hover{
                    border: 1px solid transparent;
                    background: #c49b63;
                    color: #fff;
                }
            }
            .images{
                .A{
                    background-image: url(../../../assets/images/our_menu/menu-1.jpg);
                    // padding: 0rem 0.6rem 2.6rem;
                }
                .B{
                    // padding: 0rem 0.6rem 2.6rem;
                    background-image: url(../../../assets/images/our_menu/menu-2.jpg);
                }
                .C{
                    // padding: 1.7rem 0.6rem 0rem;
                    background-image: url(../../../assets/images/our_menu/menu-3.jpg);
                }
                .D{
                    // padding: 1.7rem 0.6rem 0rem;
                    background-image: url(../../../assets/images/our_menu/menu-4.jpg);
                }
            }
        }
    }
}